* {
  color: black;
  background-color: white;
}

button{
  border-radius: 5px;
}

.startButton{
  background: linear-gradient(to right, rgb(42, 0, 42), rgb(179, 3, 179));
  padding: 5px 25px;
  border-radius: 10px;
  border-color: transparent;
  p{
    background: linear-gradient(to right,  rgb(172, 60, 216), rgb(255, 166, 0));
    background-clip: text;
    color: transparent;
    font-weight: bold;
  }
}

.startButton:hover{
  background: linear-gradient(to bottom, rgb(42, 0, 42), rgb(179, 3, 179));
  border-color: black;
}

.startButton:active p{
  background: linear-gradient(to right, red, rgb(255, 166, 0));
  background-clip: text;
  color: transparent;
}

.game{
  text-align: center;
}

.hidden, .hidden *{
  display: none !important;
}

.score{
  background: linear-gradient(to right, rgb(200, 88, 210), rgb(250, 183, 58));
  display: inline-block;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.stars{
  background: linear-gradient(to right, rgb(100, 5, 109), rgb(196, 100, 205));
  display: inline-block;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.details:hover .score{
  background: linear-gradient(to right, red, rgb(250, 183, 58));
  /* need the below again otherwise it applies it to the background again instead of the text */
  display: inline-block;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.timer{
  background: linear-gradient(to right, red, rgb(200, 88, 210));
  display: inline-block;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gameBoard{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
  width: 90%;
  margin-left: 5%;
  height: 100%;
  background-color: rgb(189, 139, 189);
  border: 5px solid black;
  border-radius: 10px;
  grid-auto-rows: minmax(150px, auto);
  min-height: 300px; /* just to display an empty board upon game over */
}

.tile{
  display: block;
  background: grey;
  box-shadow: 0px 0px 5px black;
  margin: 10px;
  padding: 10px;
  li{
    list-style: none;
  }
}

.questions{
  text-align: left;
}

/* all of the below JUST to make the button the only non-transparent element */
.questions,
.questions p,
.questions ul,
.questions ul *{
  background-color: transparent;
}

.answer{
  background: linear-gradient(to left, rgb(100, 5, 109), rgb(196, 100, 205));
  color: white;
  opacity: 0;
  transition: opacity 1s ease-out;
  display: inline-block;
}

.answer.show{
  opacity: 1;
}

.gameOver{
  background: linear-gradient(to right, red, purple);
  display: inline-block;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}