* {
  color: rgb(1, 1, 69);
  background-color: rgb(255, 255, 255);
}

h1 {
  color: rgb(125, 24, 46);
  background-color: rgb(216, 230, 91);
}

h2 {
  color: rgb(5, 54, 122);
}

p {
  color: rgb(3, 60, 62);
}

header{
  position: relative;
  width: 99.3%;
  text-align: center;
  background-color: rgb(77, 14, 102);
  padding: 5px;
}

header *{
  background-color: rgb(77, 14, 102);
  color: white;
}

.footer{
  position: fixed;
  display: flex;
  width: 97%;
  bottom: 0px;
  background-color: rgb(148, 18, 188);
  color: black;
  padding: 5px 10px 0px 20px;
  justify-content: space-between;
}

.footer *{
  background-color: rgb(148, 18, 188);
  color: black;
}

.footer p:first-of-type::before{
  content: "\00A9 ";
}

.footer p:first-of-type::after{
  content: "\2122";
}

.main{
  display: flex;
  flex-direction: row;
}

.main .canadaList{
  width: 30%;
}

.main .canadaMap,
.main .itJobs{
  width: 35%;
}

.canadaList ul{
  list-style: none;
  padding-left: 0px;
  margin-right: 10px;
}

.canadaList li{
  background-color: rgb(148, 18, 188);
  margin-bottom: 8px;
  padding: 5px 8px;
  color: white;
}

.canadaList li:hover{
  background-color: rgb(36, 0, 43);
  color: rgb(187, 138, 196);
}

.menuButtons{
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  justify-content: space-evenly;
  margin-top: 10px;
}

.button{
  color: rgb(72, 16, 72);
  background-color: rgb(198, 70, 245);
  border: 1px solid white;
  border-radius: 10px;
  transform: skew(-8deg);
  padding: 5px;
  box-shadow: 0px 2px 5px;
  transition-duration: 0.3s
}

.button:hover{
  color: white;
  background-image: linear-gradient(rgb(198, 70, 245), rgb(72, 16, 72));
  transform: skew(0deg);
  transition-duration: 0.1s
}

.itJobs,
.itJobs *{
  background-color: rgb(148, 18, 188);
  color: white;
  text-align: center;
}

.itJobs p{
  position: relative;
  font-size: 25px;
  font-weight: bold;
}

.job{
  width: 45%;
  margin: 0px 10px 25px 10px;
}

.jobsTab{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
}

.jobBanner{
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgb(4, 216, 4);
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: rgb(4, 216, 4);
}

.jobTitle{
  position: relative;
  border-top-right-radius: 22%;
  background-color: rgb(107, 15, 134);
}

.jobTitleThings{
  position: relative;
  padding: 50px 20px;
  background-color: rgb(107, 15, 134);
  border-top-right-radius: 22%;
}

.monetaryVal{
  text-align: right;
  font-style: italic;
  font-weight: bold;
  margin-top: 20px;
}

.subbuttons{
  position: absolute;
  display: none;
  visibility: none;
  top: 100%;
  left: 10px;
  transform: skew(0);
  text-align: right;
  background-color: rgb(148, 18, 188);
}

.subbuttons .submenu{
  display: block;
  padding: 12px;
}

.button:hover .subbuttons{
  display: block;
  visibility: visible;
}

.submenu{
  text-align: left;
  background-color: rgb(148, 18, 188);
  color: white;
}

.submenu:hover{
  background-color: rgb(36, 0, 43);
  color: rgb(187, 138, 196);
}

.button:has(.subbuttons:hover){
  color: black;
}